@import '../../styles/container-base.mixin';

.footer {
  @include container-base;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.4);
  border: 1px solid #dedede;
  border-top-color: rgb(222, 222, 222);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 0;
  margin: 0 auto;
  padding: 24px 24px 36px 24px;
  position: relative;
  z-index: 2;
}
